In [1]:
a = 10

In [2]:
a

10

In [3]:
import numpy as np

# üë®‚Äçüî¨ NumPy = Numerical Python - foundation library for scientific computing
Array in NumPy are n-dimensional (ndarray) that are:
1. faster than python list
2. memory effecient
3. no loops needed to traverse (support vectorized operations)

In [5]:
arr = np.array([1,2,3,4])
print(arr)

[1 2 3 4]

In [39]:
list1 = [[1,2,3],[4,5,6],[7,8,9]]
list2 = [[11,12,13],[14,15,16],[17,18,19]]

sum = list1[1][2] 
sum
# using list if you want to add you have loop
# print(listm)

3

In [51]:
# Operations

matrix1 = np.array([[1, 2, 3],[4, 5, 6],[7, 8, 9]])
# print(matrix)
matrix2 = np.array([[11,12,13],[14,15,16],[17,18,19]])

addmatrix = matrix1 + matrix2
submatrix = matrix1 - matrix2
mulmatrix = matrix1 * matrix2
divmatrix = matrix1 / matrix2
print(np.dot(matrix1, matrix2))
print(addmatrix)
print(submatrix)
print(mulmatrix)
print(divmatrix)

[[ 90  96 102]
 [216 231 246]
 [342 366 390]]
[[12 14 16]
 [18 20 22]
 [24 26 28]]
[[-10 -10 -10]
 [-10 -10 -10]
 [-10 -10 -10]]
[[ 11  24  39]
 [ 56  75  96]
 [119 144 171]]
[[0.09090909 0.16666667 0.23076923]
 [0.28571429 0.33333333 0.375     ]
 [0.41176471 0.44444444 0.47368421]]

In [77]:
# interesting functions
zeros = np.zeros((3,3))
zeros
ones = np.ones((2,3))
ones
arange = np.arange(1,10,1)
arange
linspa = np.linspace(0,10,5)
linspa

array([ 0. ,  2.5,  5. ,  7.5, 10. ])

In [85]:
# indexing and slicing
arr = np.array([10, 20, 30, 40, 50])

arr[:3]
arr[::-1]
arr[:-1:]
arr[-1::]

# play around with 2D indexing using numpy arrays

array([50])

In [95]:
arr.shape
# matrix1.shape
arr.size

# prompt = tell me some interesting facts or tips about arrays using numpy in python

5

# üìä Data Manipulation

In [97]:
import pandas as pd
# pandas supports series, dataframes, loading datasets

In [106]:
s = pd.Series([10, 20, 30, 40, 50], name = "Marks")
print(s)

0    10
1    20
2    30
3    40
4    50
Name: Marks, dtype: int64

In [110]:
s.info()

<class 'pandas.core.series.Series'>
RangeIndex: 5 entries, 0 to 4
Series name: Marks
Non-Null Count  Dtype
--------------  -----
5 non-null      int64
dtypes: int64(1)
memory usage: 172.0 bytes

In [128]:
s = pd.Series([85, 67, 79], index =["Math", "Science", "English"], name = "Annual Test Marks")
print(s)

Math       85
Science    67
English    79
Name: Annual Test Marks, dtype: int64

In [130]:
# s[0]
s["Math"]
s.info()

<class 'pandas.core.series.Series'>
Index: 3 entries, Math to English
Series name: Annual Test Marks
Non-Null Count  Dtype
--------------  -----
3 non-null      int64
dtypes: int64(1)
memory usage: 156.0+ bytes

In [132]:
# Pandas Dataframe

# dataframe is 2D labelled table (like an Excel sheet)

data = {
    "Name": ["Alice", "Bob", "Peter"], 
    "Age": [22, 23, 20], 
    "Marks": [78, 79, 65]
}

print(data)

{'Name': ['Alice', 'Bob', 'Peter'], 'Age': [22, 23, 20], 'Marks': [78, 79, 65]}

In [136]:
df = pd.DataFrame(data)
df

    Name  Age  Marks
0  Alice   22     78
1    Bob   23     79
2  Peter   20     65

In [140]:
df.head(1)

    Name  Age  Marks
0  Alice   22     78

In [152]:
df.tail(1)

    Name  Age  Marks
2  Peter   20     65

In [156]:
df.shape

(3, 3)

In [158]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Marks   3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 204.0+ bytes

In [162]:
df.describe()

             Age     Marks
count   3.000000   3.00000
mean   21.666667  74.00000
std     1.527525   7.81025
min    20.000000  65.00000
25%    21.000000  71.50000
50%    22.000000  78.00000
75%    22.500000  78.50000
max    23.000000  79.00000

In [164]:
# load a data from 
# perform some functions in the data and write a short explanatory note